body{
    margin: 0;
    padding: 0;
}
.product-detail img{
    max-width: 300px;
}
.product-detail{
    display: flex;
}
.product-detail a{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: segoe ui light;
    font-weight: bold;
    transition: 0.4s;
}
.product-detail a:hover{
    color: cornflowerblue;
}

