body{
    margin: 0 auto;
}
#layout{
    display: flex;
}
.left{
    background-color: brown;
    height: 400px;
    width: calc(100% / 3) ;
    margin-right: 15px;
}
.center{
    background-color: green;
    height: 400px;
    width: calc(100%/3) ;
    margin-right: 15px;
}
.right{
    background-color: blue;
    height: 400px;
    width: calc(100%/3) ;
}