body{
    margin:0;
    padding: 0;
}

.testimonial-section{
    background: #f1f1f1;
    padding: 80px 0;
    text-align: center;
}

.inner-with{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.testimonial-section h3{
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.testimonial-pisc{
    padding: 40px 0;
}

.testimonial-pisc img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 20px;
    filter: grayscale(100%);
    transform: .3s;
    cursor: pointer;
}

.testimonial-pisc img:hover, .testimonial-pisc img.active {
    filter: none;
}

.testimonial-contents{
    max-width: 600px;
    margin: auto;
}

.testimonial{
    display: none;
}

.testimonial.active{
    display: block;
}

.testimonial p{
    color: #5c5c5c;
    margin-bottom: 20px;
}

.testimonial .description{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
}
