body{
    margin: 0 auto;
}
h1{
    height: 100px;
    background-color:#EF7126;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: title 1s infinite;
}
@keyframes title{
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}
.img{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}
img{
    max-width: 300px;
}
.slide{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
p{ 
    text-align: right;
    animation: gmail 0.5s  ease-in; 
    animation-delay: 1s;
}
@keyframes gmail{
    0%  {
        
        margin-right: 100px;
    }
    25%  {
        
        margin-right: 200px; 
       
    }
    50%  {
       
        margin-right: 300px; 
      
    }
    75%  {
        
        margin-right: 400px; 
      
    }
    100% {
        opacity: 0;
        margin-right: 500px; 
        
    }
}