@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
	margin: 0;
}


ul {
  list-style-type: none;
  padding: 0;
}


a {
  text-decoration: none;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
}


#menu > li {
  float: left;
  position: relative;
}

#menu > li > a {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  color: #92929d;
  padding: 15px;
  display: block;
  border-bottom: 2px solid transparent;
}

#menu > li > a:hover {
  border-bottom: 2px solid #65509e;
  color: #6e55b4;
}


.sub-menu {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 99;
  background-color: #fcfcfc;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu > li:hover .sub-menu {
  display: flex;
}

.sub-menu .column {
  width: 150px;
}

.sub-menu a {
  padding: 10px 15px;
  display: block;
}

.sub-menu a:hover {
  color: #6e55b4;
  background: #efefef;
}

.column b > a{
    color: #000000 !important;
    font-weight: 700;
}

.column a{
    color: #92929d;
    font-size: 14px;
}
