body{
    margin: 0 auto;
}
#header{
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #000000;
}
#header .logo{
    width: 25%;
    position: relative;
}
#header img{
    max-width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header .menu{
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#header .menu li{
    display: inline;
}
#header .menu li a{
    color:#000000;
    text-decoration: none;
    font-family: segoe ui light;
    font-size: 17px;
    padding: 10px 50px 0px 0px;
    display: inline-block; 
    transition: 0.4s;
    font-weight: bold;
}
#header .menu li a:hover{
    color: #767676;
}
#header .seach{
    width: 25%;
    position: relative;
}
#header .seach input{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #000000;
    border-radius: 10px;
}
h1{
    margin-left: 17%;
}
#content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 1% 1%;
}
#content img{
   max-width: 100%;
}