body{
    margin: 0 auto;
}


#wrapper_header .nav{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
}

#wrapper_header .nav img{
    width: 100px;
    height: 100px;

}

#wrapper_header .nav .menu_1{
    display: flex;
}

.menu_1  li{
    list-style: none;
    margin-right: 30px;
    position: relative;
}

.menu_1  li  a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.menu_1  li  a:hover {
    border-bottom: 2px solid #65509e;
    color: #65509e;
}


#wrapper_header .banner img{
    min-width: 100%;
}

#wrapper_header .introduce{
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 10%;
    color: #ffffff;
    font-family: sans-serif;
}

#wrapper_header .introduce h1{
    font-size: 40px;
}

#wrapper_header .introduce p{
    font-size: 20px;
}

#wrapper_header .introduce button{
    padding: 20px 40px 20px 40px;
    background: darkorange;
    font-size: 20px;
    border: none;
    border-radius: 50px 50px;

}

section{
    padding: 50px 100px 50px 100px;
     
}

section b{
    font-family: sans-serif;
    border-bottom: 5px solid #65509e;
    font-size: 30px;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .wrapper{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

section .wrapper .left{
    margin-right: 50px;
}

section .wrapper .right p{
    font-family: sans-serif;
    color: rgb(99, 85, 9);
    font-weight: bold;
    margin-top: 50px;
}

footer{
    background: #666;
    padding: 30px;
    display: flex;
}

footer .colums-one{
    width: 30%;
    padding-left: auto;
    padding-right: auto;
    margin-right: 20px;
    margin-left: 5%;
}

footer .colums-two{
    width: 30%;
    padding-left: auto;
    padding-right: auto;
    margin-right: 20px;
}

footer .colums-three{
    width: 30%;
}

h4{
    color: #000000;
    font-size: 25px;
    
}

footer  ul li a{
    text-decoration: none;
    color: #000000;
}

footer a:hover{
    border-bottom: 1px solid #000000;
}

iframe{
    width: 100%;
    height: 300px;
}

footer ul li{
   list-style: none;
   line-height: 35px;
}

footer ul{
    padding: 0;
}
