body{
    margin: 0 auto;
}

#wrapper_header .nav{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
}

#wrapper_header .nav img{
    width: 100px;
    height: 100px;

}

#wrapper_header .nav .menu_1{
    display: flex;
}

.menu_1 > li{
    list-style: none;
    margin-right: 30px;
    position: relative;
}

.menu_1 > li > a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.menu_1 > li > a:hover {
    border-bottom: 2px solid #65509e;
    color: #65509e;
}

.menu_1 > li:hover .menu_2{
    display: block;
    border-bottom: 2px solid #65509e;
    color: #65509e;
}

.menu_1 > li:hover > a{
    border-bottom: 2px solid #161611;
    color: #65509e;
}

.menu_2{
    display: none;
    position: absolute;
    z-index: 99;
    left:-150%;
    box-shadow: 0 5px 5px 0 rgba(102, 43, 43, 0.2);
    line-height: 200%;
    width: 200px;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin-top:5px;
    text-align: center;
    border: 2px solid #65509e;
}

.menu_2 > li{
    list-style: none;
}

.menu_2 > li > a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.menu_2 > li > a:hover{
    border-bottom: 2px solid #65509e;
    color: #65509e;
    font-weight: bold;
}

#wrapper_header .banner img{
    min-width: 100%;
}

section{
    display: flex;
    margin-top: 50px;
}

section .wrapper-left{
    margin-left: 150px;
}

section .wrapper-left ul{
    background: #666;
    padding: 0;
    width: 200px;
}

section .wrapper-left ul li{
    list-style: none;
    line-height: 50px;
    margin-left: 20px;
}

section .wrapper-left ul li a{
    text-decoration: none;
    color: #000000;
}

section .wrapper-left ul li a:hover{
    color: #ffffff;
}

section .wrapper-right{
    padding-top: 10px;
    margin-right: 150px;
    margin-left: 30px;
  
}

section .wrapper-right .wrapper-item{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

section .wrapper-right .wrapper-item img{
    max-width: 100%;
    height: 300px;
}

section .wrapper-right h1{
    border-bottom: 5px solid saddlebrown;
    display: inline-block;
}

section .wrapper-right .wrapper-item a{
    color: #000000;
    text-decoration: none;
}

section .wrapper-right .wrapper-item h2{
    font-size: 17px;
}

section .wrapper-right .wrapper-item a:hover{
    color: darkorange;
}

section .wrapper-right .wrapper-item p{
    color: orange;
    font-size: 20px;
}

footer{
    background: #666;
    padding: 30px;
    display: flex;
}

footer .colums-one{
    width: 30%;
    padding-left: auto;
    padding-right: auto;
    margin-right: 20px;
    margin-left: 5%;
}

footer .colums-two{
    width: 30%;
    padding-left: auto;
    padding-right: auto;
    margin-right: 20px;
}

footer .colums-three{
    width: 30%;
}

h4{
    color: #000000;
    font-size: 25px;
    
}

footer  ul li a{
    text-decoration: none;
    color: #000000;
}

footer a:hover{
    border-bottom: 1px solid #000000;
}

iframe{
    width: 100%;
    height: 300px;
}

footer ul li{
   list-style: none;
   line-height: 35px;
}

footer ul{
    padding: 0;
}